body {
	font-family: Arial;
	margin: 0;
}

div, p {
	margin: 0;
	padding: 0;
}

#firstSection,
#secondSection {
	font-family: Tahoma;
}

.highlight {
	background-color: #369;
}

#mainBody {
	width: 65%;
	float: left;
}

#sidebar {
	width: 30%;
	float: right;
}

footer {
	clear:both;
}