body {
	font-family: Arial;
}

#firstSection,
#secondSection {
	font-family: Tahoma;
}

span.highlight {
	background-color: #369;
}

#mainBody {
	width: 65%;
	float: left;
}

#sidebar {
	width: 30%;
	float:right;
	border: 1px solid black;
	padding: 1%;
}

footer {
	clear: both;
}